---
import { Sprite } from "astro-icon";

interface Props extends astroHTML.JSX.HTMLAttributes {
  className?: string;
  close?: boolean;
}

const { className, close = true, ...rest } = Astro.props;
---

<div class:list={["popup", className]} {...rest}>
  {
    close && (
      <button type="button" class="popup__close" data-vclose>
        <Sprite name="close" />
      </button>
    )
  }
  <slot />
</div>
