.vbox-child {
  box-shadow: none;
  pointer-events: none;
}

.vbox-close {
  display: none;
}

.vbox-container {
  @include breakpoint($xs-bp) {
    padding-bottom: 0;
  }
}

.vbox-content {
  padding: 5rem;

  @include breakpoint($xm-bp) {
    padding: 3rem;
  }

  @include breakpoint($xs-bp) {
    padding: 1.5rem;
  }
}

.popup {
  padding: 3rem 4rem 4rem;
  border-radius: 3rem;
  background-color: $primary;
  color: $primary-inverse;
  pointer-events: all;
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @include breakpoint($xm-bp) {
    padding: 3rem;
  }

  @include breakpoint($xs-bp) {
    gap: 3rem;
  }

  &__head {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 1rem 4rem;

    @include breakpoint($xs-bp) {
      gap: 1rem 2rem;
    }
  }

  &__subtitle {
    width: 100%;
    grid-column: span 2;
    color: $secondary-inverse-hover;
  }
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4rem;

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 2rem 4rem;
    flex-wrap: wrap;

    @include breakpoint($xs-bp) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__legal {
    max-width: 19.5rem;
    color: $secondary-inverse-hover;

    @include breakpoint($xs-bp) {
      max-width: 100%;
      text-align: center;
    }

    a {
      color: $primary-inverse;
    }
  }
}

.popup.popup_form-sent {
  min-height: 49.4rem;

  @include breakpoint($xs-bp) {
    min-height: 51rem;
  }

  .popup {
    &-form {
      &__btns {
        margin-top: auto;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
}

.popup-confirm {
  max-width: 63.4rem;

  @include breakpoint($xs-bp) {
    gap: 3rem;
  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: stretch;

    @include breakpoint($xs-bp) {
      flex-direction: column;
      align-items: stretch;
    }

    .default-btn {
      flex: 1;
    }
  }
}

.popup-search {
  .vbox-content {
    align-items: flex-start;
  }

  .search-form {
    margin-top: 7rem;
    pointer-events: all;
    margin-bottom: auto;

    @include breakpoint($xs-bp) {
      margin-top: 4rem;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0.5rem;
    }

    &__input {
      @include breakpoint($xs-bp) {
        width: 100%;
        flex: none;
        padding: 1rem;
      }
    }

    &__btns {
      @include breakpoint($xs-bp) {
        margin-left: auto;
      }
    }
  }
}
