.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  &__btn {
    width: 2.4rem;
    height: 2.4rem;
    transition: 0.3s;

    &:first-child {
      margin-right: 1.5rem;
    }

    &:last-child {
      margin-left: 1.5rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    &.default-btn {
      width: 5rem;
      height: 5rem;
      border-radius: 1.5rem;
      padding: 0;

      &:not(.active) {
        border-color: transparent;
      }

      &.active {
        pointer-events: none;
      }
    }
  }
}
