---
import { Sprite } from "astro-icon";
---

<div class="pagination">
  <a href="#" class="pagination__link pagination__btn disabled">
    <Sprite name="chevron-left" />
  </a>
  <span class="pagination__link active">1</span>
  <a href="#" class="pagination__link">2</a>
  <a href="#" class="pagination__link">3</a>
  <a href="#" class="pagination__link">4</a>
  <a href="#" class="pagination__link pagination__btn">
    <Sprite name="chevron-right" />
  </a>
</div>
