@mixin breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin hover() {
  @media (hover) {
    &:hover {
      @content;
    }
  }
}

@mixin text {
  & >,
  * > {
    * {
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      color: inherit;

      :not(strong) {
        font-weight: inherit;
      }
    }

    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;

    :not(strong) {
      font-weight: inherit;
    }
  }
}

@mixin secondary-inverse-hover {
  transition: 0.3s;

  @include hover {
    color: $secondary-inverse-active;
  }

  &:active {
    color: $secondary-inverse-hover;
  }
}

@mixin scroll($color) {
  &::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $color;
  }
}
