---

---

<div class="product-info">
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Тип подачи инструментов:</span
    >
    <span class="body-3 product-info-item__value"
      >Эжекторный (водовоздушный)</span
    >
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Тип аспирации:</span>
    <span class="body-3 product-info-item__value">Выносной блок</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title"
      >Макс. яркость светильника, люкс</span
    >
    <span class="body-3 product-info-item__value">Меламин</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Материал плевательницы:</span>
    <span class="body-3 product-info-item__value">Да</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Высота:</span>
    <span class="body-3 product-info-item__value">110 см</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Ширина:</span>
    <span class="body-3 product-info-item__value">93 см</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Длина:</span>
    <span class="body-3 product-info-item__value">138 см</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Вес</span>
    <span class="body-3 product-info-item__value">230 кг</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Тип подачи инструментов:</span
    >
    <span class="body-3 product-info-item__value"
      >Эжекторный (водовоздушный)</span
    >
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Тип аспирации:</span>
    <span class="body-3 product-info-item__value">Выносной блок</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title"
      >Макс. яркость светильника, люкс</span
    >
    <span class="body-3 product-info-item__value">Меламин</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Материал плевательницы:</span>
    <span class="body-3 product-info-item__value">Да</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Высота:</span>
    <span class="body-3 product-info-item__value">110 см</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Ширина:</span>
    <span class="body-3 product-info-item__value">93 см</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Длина:</span>
    <span class="body-3 product-info-item__value">138 см</span>
  </div>
  <div class="product-info-item">
    <span class="body-3 product-info-item__title">Вес</span>
    <span class="body-3 product-info-item__value">230 кг</span>
  </div>
</div>
