.main-about {
  position: relative;
  padding-top: 18rem;
  height: 100dvh;

  &__title {
    margin: 0 auto;
    max-width: 84rem;
    text-align: center;
  }

  &__canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &-info {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem;
    background-color: rgba(36, 36, 36, 0.6);
    backdrop-filter: blur(5rem);
    width: 50rem;
    border-radius: 3rem;
    overflow: hidden;

    &[data-item="1"] {
      right: 5rem;
      top: 20rem;
    }

    &[data-item="2"] {
      top: calc(100% - 5rem);
      left: 50%;
      transform: translate(-50%, -100%);
    }

    &[data-item="3"] {
      top: calc(100% - 5rem);
      left: 5rem;
      transform: translateY(-100%);
    }

    &__title {
    }

    &__text {
      color: $text-02;
    }
  }
}
