.main-about {
  position: relative;
  padding-top: 18rem;
  height: 100dvh;
  overflow: hidden;

  @include breakpoint($xm-bp) {
    padding-top: 14rem;
  }

  &__title {
    margin: 0 auto;
    max-width: 84rem;
    text-align: center;

    @include breakpoint($xm-bp) {
      font-size: 5rem;
      line-height: 1em;
      max-width: 64.4rem;
    }

    @include breakpoint($xs-bp) {
      font-size: 3rem;
      line-height: 1.1em;
    }
  }

  // &__canvas {
  //   position: absolute;
  //   z-index: 1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   pointer-events: none;
  // }

  #main-about-canvas {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &__anim {
    position: absolute;
    z-index: 1;
    left: 20%;
    width: 60%;
    height: 100%;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include breakpoint($xm-bp) {
      width: 100%;
      height: 80%;
      bottom: 0;
      left: 0;
    }

    @include breakpoint($xs-bp) {
      // width: 120%;
      // left: -10%;
      height: 80%;
      bottom: 0;
    }

    img {
      display: none;

      object-fit: contain;
      object-position: center;
      width: 60%;
      height: 100%;

      @include breakpoint($xm-bp) {
        width: 80%;
      }

      @include breakpoint($xs-bp) {
        width: 100%;
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }

  &-info {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem;
    background-color: rgba(36, 36, 36, 0.6);
    backdrop-filter: blur(5rem);
    width: 50rem;
    border-radius: 3rem;
    overflow: hidden;

    // display: none;

    @include breakpoint($xm-bp) {
      padding: 3rem;
      border-radius: 2.5rem;
      width: 38.2rem;
    }

    @include breakpoint($xs-bp) {
      gap: 1rem;
      width: 31.4rem;
      height: fit-content;
    }

    &[data-item="1"] {
      right: 5rem;
      top: 20rem;

      @include breakpoint($xs-bp) {
        right: 1.5rem;
        top: unset;
        bottom: 2rem;
      }
    }

    &[data-item="2"] {
      bottom: 5rem;
      left: 50%;
      transform: translate(-50%, 0);

      @include breakpoint($xs-bp) {
        bottom: 2rem;
        transform: translateX(-50%);
      }
    }

    &[data-item="3"] {
      top: 20rem;
      left: 5rem;

      @include breakpoint($xs-bp) {
        top: unset;
        bottom: 2rem;
        left: 1.5rem;
      }
    }

    &__title {
      @include breakpoint($xm-bp) {
        font-size: 2rem;
        line-height: 1.1em;
      }

      @include breakpoint($xs-bp) {
        font-size: 1.8rem;
        line-height: 1.25em;
      }
    }

    &__text {
      color: $text-02;

      @include breakpoint($xm-bp) {
        font-size: 1.6rem;
        line-height: 1.25em;
      }

      @include breakpoint($xs-bp) {
        font-size: 1.4rem;
        line-height: 1.25em;
      }
    }
  }
}
