---

---

<section class="section-margin main-about">
  <div class="container main-about__container">
    <h2 class="title-1 main-about__title">
      Mercury – бренд, созданный в 2013 году врачом стоматологом для врачей и их
      комфортной работы.
    </h2>
    <canvas class="main-about__canvas"></canvas>
    <div class="main-about-info" data-item="1">
      <h6 class="title-6 medium main-about-info__title">
        Эргономичное оборудование
      </h6>
      <p class="body-1 main-about-info__text">
        Все оборудование создано врачом исходя из потребностей и пожеланий наших
        клиентов и обладает только тем функционалом, который реально необходим в
        работе и помогает облегчить её
      </p>
    </div>

    <div class="main-about-info" data-item="2">
      <h6 class="title-6 medium main-about-info__title">
        Собственное производство
      </h6>
      <p class="body-1 main-about-info__text">
        Мы используем лучшие комплектующие, в т.ч. из Европы, собственное
        производство в России некоторых категорий товаров позволяет держать
        демократичную цену и контролировать каждый этап процесса создания
        оборудования Mercury
      </p>
    </div>

    <div class="main-about-info" data-item="3">
      <h6 class="title-6 medium main-about-info__title">
        Широкая продуктовая линейка
      </h6>
      <p class="body-1 main-about-info__text">
        Широкая продуктовая линейка, которая позволяет выбрать оборудование,
        исходя из заложенного вами бюджета
      </p>
    </div>
  </div>
</section>
