.legal-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 15rem;

  @include breakpoint($xm-bp) {
    margin-top: 3rem;
    margin-bottom: 10rem;
  }

  @include breakpoint($xs-bp) {
    margin-top: 1.5rem;
  }

  &__btn {
    position: sticky;
    top: 12rem;
    right: 0;

    @include breakpoint($xm-bp) {
      display: none;
    }
  }

  &__container {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    @include breakpoint($xm-bp) {
      gap: 4rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint($xm-bp) {
      font-size: 1.4rem;
      line-height: 1.25em;
    }
  }
}
