.search {
  &-head {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 7rem;

    @include breakpoint($xm-bp) {
      margin-bottom: 4rem;
    }

    &__result {
      color: $secondary-inverse-active;

      @include breakpoint($xm-bp) {
        font-size: 1.6rem;
        line-height: 1em;
      }
    }
  }
}
