---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";

interface Props {
  title: string;
  className?: string;
}

const { className, title, ...rest } = Astro.props;
---

<div class:list={["faq", className]} data-dropdown {...rest}>
  <button type="button" class="heading-3 medium faq__btn" data-btn>
    {title}
    <DefaultBtn
      as="span"
      viewType="icon"
      theme="stroke"
      color="secondary"
      className="faq__btn-icon"
    >
      <Sprite name="plus" />
    </DefaultBtn>
  </button>
  <div class="faq__container">
    <div class="faq__content">
      <span class="body-3 faq__subtitle">Ответ:</span>
      <div class="body-1 template faq__text">
        <slot />
      </div>
    </div>
  </div>
</div>
