---
import Tag from "@components/Tag/Tag.astro";
---

<div class="pa__container pa-order">
  <Tag>text</Tag>
  <Tag theme="stroke">text</Tag>
  <Tag color="yellow">text</Tag>
  <Tag color="yellow" theme="stroke">text</Tag>
  <Tag color="red">text</Tag>
  <Tag color="red" theme="stroke">text</Tag>
</div>
