---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";

interface Props {
  title?: string;
  text?: string;
  img?: string;
  className?: string;
}

const { title, text, img, className, ...rest } = Astro.props;
---

<div class:list={["category-card", className]} {...rest}>
  <div class="category-card__img">
    <img src={img} alt="" />
  </div>
  <div class="category-card__container">
    <div class="category-card__head">
      {title && <h6 class="title-5 category-card__title" set:html={title} />}
      {text && <span class="body-1 category-card__text" set:html={text} />}
    </div>
    <DefaultBtn
      as="a"
      href="#"
      className="category-card__btn"
      viewType="icon"
      theme="stroke"
    >
      <Sprite name="chevron-right" />
    </DefaultBtn>
  </div>
  <slot />
</div>
