---

---

<section class="container about-margin about-steps">
  <h2 class="heading-5 about-steps__title">Бренд Mercury это:</h2>
  <div class="leasing-steps" style="--items-count: 3">
    <div class="leasing-steps-item about-steps-item">
      <span class="about-steps-item__img">
        <img src="./img/about-step-1.svg" alt="" />
      </span>
      <div class="about-steps-item__info">
        <h6 class="title-6 about-steps-item__title">Вариативные цены</h6>
        <p class="body-2 about-steps-item__text">
          Широкая продуктовая линейка, которая позволяет выбрать оборудование,
          исходя из заложенного вами бюджета
        </p>
      </div>
    </div>
    <div class="leasing-steps-item about-steps-item">
      <span class="about-steps-item__img">
        <img src="./img/about-step-2.svg" alt="" />
      </span>
      <div class="about-steps-item__info">
        <h6 class="title-6 about-steps-item__title">
          Собственное производство
        </h6>
        <p class="body-2 about-steps-item__text">
          Мы используем лучшие комплектующие, в т.ч. из Европы, собственное
          производство в России некоторых категорий товаров позволяет держать
          демократичную цену и контролировать каждый этап процесса создания
          оборудования Mercury.
        </p>
      </div>
    </div>
    <div class="leasing-steps-item about-steps-item">
      <span class="about-steps-item__img">
        <img src="./img/about-step-3.svg" alt="" />
      </span>
      <div class="about-steps-item__info">
        <h6 class="title-6 about-steps-item__title">
          Эргономичное оборудование
        </h6>
        <p class="body-2 about-steps-item__text">
          Все оборудование создано врачом исходя из потребностей и пожеланий
          наших клиентов и обладает только тем функционалом, который реально
          необходим в работе и помогает облегчить её
        </p>
      </div>
    </div>
  </div>
</section>
