.img-input {
  cursor: pointer;

  &__img {
    width: 8rem;
    height: 8rem;
    border-radius: 2rem;
    overflow: hidden;
    background: url("../img/logo-bg.jpg") center / cover;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}
