---
import Checkbox from "@components/Checkbox/Checkbox.astro";
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import TextInput from "@components/TextInput/TextInput.astro";
import Sidebar from "@modules/Sidebar/Sidebar.astro";
import { Sprite } from "astro-icon";
---

<Sidebar className="sidebar-login">
  <button type="button" class="sidebar__close" data-vclose>
    <Sprite name="x" />
  </button>
  <div class="sidebar-login__form">
    <div class="sidebar-login__head">
      <h6 class="title-6 medium sidebar-login__title">
        Регистрация пройдена успешно!
      </h6>
      <span class="body-4 sidebar-login__text">
        Авторизуйтесь для того, чтобы войти в личный кабинет
      </span>
    </div>
    <DefaultBtn
      as="a"
      href="./popup/sidebar-login.html"
      data-vopen
      data-vbtype="ajax"
      data-customclass="v-sidebar"
      viewType="width"
      color="inverse"
    >
      Авторизоваться
    </DefaultBtn>
  </div>
</Sidebar>
