---

---

<div class="spinner">
  <div class="spinner-logo">
    <div class="spinner-logo__name">
      <img src="./img/spinner/logo-2.svg" alt="" />
    </div>
    <div class="spinner-logo__img">
      <img src="./img/spinner/logo-1.svg" alt="" />
    </div>
    <div class="spinner-logo__right">
      <img src="./img/spinner/r.svg" alt="" />
    </div>
  </div>

  <div class="spinner__inner">
    <span class="body-2 spinner__text">
      Mercury – российский бренд стоматологического оборудования
    </span>
    <span class="spinner__value"></span>
  </div>
</div>
