---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import ProductCard from "@components/ProductCard/ProductCard.astro";
---

<section class="section-margin main-products">
  <div class="container">
    <h3 class="title-3 main-products__title" data-fade-anim>
      продукция <br />
       mercury
    </h3>
    <div class="main-products__list">
      <ProductCard
        data-fade-anim
        title="Стоматологические стулья"
        text="20 видов"
        img="./img/products/prod-1.png"
      />
      <ProductCard
        data-fade-anim
        title="Российское производство"
        text="20 видов"
        img="./img/products/prod-2.png"
      >
        <img src="./img/ru-flag.jpg" alt="" class="flag" />
      </ProductCard>
      <ProductCard
        data-fade-anim
        title="Стоматологические установки"
        text="20 видов"
        img="./img/products/prod-3.png"
      />
      <ProductCard
        data-fade-anim
        title="Стоматологические наконечники"
        text="20 видов"
        img="./img/products/prod-4.png"
      />
      <ProductCard
        data-fade-anim
        title="Цифровое оборудование"
        text="2 видов"
        img="./img/products/prod-5.png"
      />
      <ProductCard
        data-fade-anim
        title="Микроскопы"
        text="5 видов"
        img="./img/products/prod-6.png"
      />
      <ProductCard
        data-fade-anim
        title="имплантология"
        text="5 видов"
        img="./img/products/prod-7.png"
      />
    </div>
    <div data-fade-anim>
      <DefaultBtn as="a" href="#" viewType="width">
        Полный каталог продукции
      </DefaultBtn>
    </div>
  </div>
</section>
