---

---

<div class="body-1 template product-rec">
  <p>
    Ежедневно очищайте пластиковые и металлические части чистой тканью,
    смоченной мыльной водой. Можно также использовать медицинский спирт для
    протирания.
    <br /><br />
     После использования медицинского спирта, незамедлительно обработайте
    поверхность мыльным раствором воды и вытрите сухой тканью.
    <br /><br />
     Не допускайте высыхание спирта на пластиковых частях и обивке, так как это
    может привести к повреждению материалов.
    <br /><br />
     Ежедневно очищайте обивку чистой тканью, смоченной мыльным раствором. Не
    используйте абразивные моющие средства.
    <br /><br />
     Для очистки можно также использовать спиртовой раствор.
    <br /><br />
     При использовании 95% спирта разбавьте его дистиллированной водой,
    процентное соотношение 1:20.
    <br /><br />
     При использовании 75% спирта разбавьте его дистиллированной водой в
    процентном соотношении 1:8.
    <br /><br />
     После использования спиртового раствора незамедлительно промойте
    поверхность водой и протрите сухой тканью.
    <br /><br />
     Не допускайте высыхание спиртового раствора на обивке, так как это может
    привести к повреждению материалов.
    <br /><br />
     Использование агрессивных дезинфицирующих средств или неправильная
    эксплуатация кожи, которая приводит к изменению цвета или структуры
    материала, не подлежит гарантийной замене.
  </p>
</div>
