.text-input {
  position: relative;
  display: flex;
  align-items: center;

  @include hover {
    .text-input__field {
      border-color: $primary;
    }
  }

  &.text-input_textarea {
    .text-input {
      &__field {
        resize: none;
        height: 14rem;
        vertical-align: top;
      }

      &__label {
        top: 2.7rem;
        left: 1.9rem;
      }
    }
  }

  &.invalid {
    .text-input__field {
      border-color: $error;
    }

    .text-input__message {
      opacity: 1;
    }
  }

  &.inverse {
    color: $primary-inverse;

    @include hover {
      .text-input__field {
        border-color: $primary-inverse;
      }
    }

    &.invalid {
      .text-input__field {
        border-color: $error;

        @include hover {
          border-color: $error;
        }

        &:focus {
          border-color: $error;
        }
      }
    }

    .text-input {
      &__field {
        border-color: $base-gray;

        @include hover {
          border-color: $primary-inverse;
        }

        &:focus {
          border-color: $primary-inverse;
        }
      }

      &__label {
        color: $secondary-inverse-hover;
      }
    }
  }

  &__field {
    width: 100%;
    padding: 2.7rem 4.5rem 1.1rem 1.9rem;
    border: 0.1rem solid $secondary;
    border-radius: 2rem;
    transition: 0.3s;
    font-size: 1.6rem;
    line-height: 1.25em;

    @include hover {
      border-color: $primary;
    }

    &:focus {
      border-color: $primary;

      & ~ .text-input__label {
        top: 1.2rem;
        transform: scale(0.625);
      }
    }

    &:not(:placeholder-shown) {
      & ~ .text-input__label {
        top: 1.2rem;
        transform: scale(0.625);
      }

      & ~ .text-input__btn {
        opacity: 1;
        pointer-events: all;
      }
    }

    &[type="text"] {
      & ~ .text-input__btn[data-password] {
        svg {
          &:nth-child(1) {
            opacity: 0;
            transform: scale(0);
          }

          &:nth-child(2) {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }

    &::placeholder {
      font-size: 0;
      opacity: 0;
    }
  }

  &__label {
    position: absolute;
    font-size: 1.6rem;
    line-height: 1.25em;
    font-weight: 500;
    color: $text-02;
    left: 2rem;
    top: 50%;
    transform-origin: left center;
    transform: translateY(-50%);
    transition: 0.3s;
  }

  &__btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;

    &[data-password] {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        position: absolute;
        transition:
          transform 0.3s,
          opacity 0.3s;

        &:nth-child(2) {
          opacity: 0;
          transform: scale(0);
        }
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__message {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    color: $error;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
