---
import { Sprite } from "astro-icon";

interface Props extends astroHTML.JSX.InputHTMLAttributes {
  dataset?: { [key: string]: string };
  label?: string;
  className?: string;
  message?: string;
  color?: "inverse";
  isPassword?: boolean;
}

const { label, className, message, color, isPassword, ...rest } = Astro.props;
---

<label class:list={["text-input", color, className]}>
  <input
    type={rest.type ? rest.type : "text"}
    class="text-input__field"
    {...rest}
  />

  {label && <span class="text-input__label">{label}</span>}

  <button
    type="button"
    class="text-input__btn"
    {...{ "data-clear": !isPassword, "data-password": isPassword }}
  >
    {
      isPassword ? (
        <>
          <Sprite name="eye" />
          <Sprite name="eye-off" />
        </>
      ) : (
        <Sprite name="x" />
      )
    }
  </button>

  {message && <span class="text-input__message">{message}</span>}
</label>
