---
import CategoryModule from "@modules/Category/Category.astro";
import Footer from "@modules/Footer/Footer.astro";
import Header from "@modules/Header/Header.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="стоматологические установки">
  <Header />

  <div class="wrapper">
    <CategoryModule />
  </div>

  <Footer />
</Layout>
