---
import CategoriesHead from "@modules/Categories/CategoriesHead/CategoriesHead.astro";
import Footer from "@modules/Footer/Footer.astro";
import Header from "@modules/Header/Header.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Каталог Mercury">
  <Header />

  <div class="wrapper">
    <CategoriesHead />
  </div>

  <Footer />
</Layout>
