---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import PageHead from "@components/PageHead/PageHead.astro";
import Pagination from "@components/Pagination/Pagination.astro";
import ProductCard from "@components/ProductCard/ProductCard.astro";
import CategoryModule from "@modules/Category/Category.astro";
import Footer from "@modules/Footer/Footer.astro";
import Header from "@modules/Header/Header.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="стоматологические установки">
  <Header />

  <div class="wrapper">
    <section class="categories-head">
      <div class="container categories-head__container">
        <PageHead
          title="Российское производство"
          breadcrumbs={["главная", "Российское производство"]}
        />

        <div class="categories-head__img">
          <img src="./img/map.png" alt="" />
        </div>

        <p class="heading-5 gradient-text categories-head__text">
          У нас собственное производство в России некоторых категорий товаров,
          что позволяет держать демократичную цену и контролировать каждый этап
          процесса создания оборудования Mercury.
        </p>
      </div>
    </section>

    <div class="category__container">
      <div class="category__list">
        <ProductCard
          data-fade-anim
          title="Стоматологическая установка mercury"
          price="385 000"
          img="./img/products/prod-8.png"
          active
          flag="./img/ru-flag.jpg"
        />
        <ProductCard
          data-fade-anim
          title="Стоматологическая установка mercury"
          price="385 000"
          img="./img/products/prod-9.png"
          flag="./img/ru-flag.jpg"
        />
        <ProductCard
          data-fade-anim
          title="Стоматологическая установка mercury"
          price="385 000"
          img="./img/products/prod-10.png"
          flag="./img/ru-flag.jpg"
        />
        <ProductCard
          data-fade-anim
          title="Стоматологическая установка mercury"
          price="385 000"
          img="./img/products/prod-11.png"
          flag="./img/ru-flag.jpg"
        />
        <ProductCard
          data-fade-anim
          title="Стоматологическая установка mercury"
          price="385 000"
          img="./img/products/prod-12.png"
          flag="./img/ru-flag.jpg"
        />
        <ProductCard
          data-fade-anim
          title="Стоматологическая установка mercury"
          price="385 000"
          img="./img/products/prod-13.png"
          flag="./img/ru-flag.jpg"
        />
      </div>
      <div class="category__pagination">
        <DefaultBtn viewType="width" theme="stroke">Показать еще</DefaultBtn>

        <Pagination />
      </div>
    </div>
  </div>

  <Footer />
</Layout>
