---
import TextInput from "@components/TextInput/TextInput.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <div
    style="display: flex; flex-direction: column; align-items: flex-start; gap: 2rem; padding: 5rem 2rem;"
  >
    <TextInput className="fv" required />
  </div>
</Layout>
