---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import PageHead from "@components/PageHead/PageHead.astro";
import Pagination from "@components/Pagination/Pagination.astro";
import ProductCard from "@components/ProductCard/ProductCard.astro";
import Footer from "@modules/Footer/Footer.astro";
import Header from "@modules/Header/Header.astro";
import { Sprite } from "astro-icon";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="стоматологические установки">
  <Header />

  <div class="wrapper">
    <div class="category search">
      <div class="container">
        <div class="search-head">
          <PageHead
            title="Результаты поиска"
            breadcrumbs={["главная", "избранные"]}
          />

          <span class="heading-6 search-head__result">
            6 товаров в избраных
          </span>
        </div>

        <div class="category__container">
          <div class="category__list">
            <ProductCard
              data-fade-anim
              title="Стоматологическая установка mercury"
              price="385 000"
              img="./img/products/prod-8.png"
              active
            />
            <ProductCard
              data-fade-anim
              title="Стоматологическая установка mercury"
              price="385 000"
              img="./img/products/prod-9.png"
              active
            />
            <ProductCard
              data-fade-anim
              title="Стоматологическая установка mercury"
              price="385 000"
              img="./img/products/prod-10.png"
              active
            />
            <ProductCard
              data-fade-anim
              title="Стоматологическая установка mercury"
              price="385 000"
              img="./img/products/prod-11.png"
              active
            />
            <ProductCard
              data-fade-anim
              title="Стоматологическая установка mercury"
              price="385 000"
              img="./img/products/prod-12.png"
              active
            />
            <ProductCard
              data-fade-anim
              title="Стоматологическая установка mercury"
              price="385 000"
              img="./img/products/prod-13.png"
              active
            />
          </div>
          <div class="category__pagination">
            <DefaultBtn viewType="width" theme="stroke">
              Показать еще
            </DefaultBtn>

            <Pagination />
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />
</Layout>
