---
import PopupLogin from "@modules/Popup/PopupLogin.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Главная страница">
  <div
    style="display: flex; flex-direction: column; align-items: flex-start; gap: 5rem; padding: 5rem;"
  >
  </div>
</Layout>
