---
import Layout from "../layouts/Layout.astro";
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
---

<Layout title="Главная страница">
  <div class="container">
    <DefaultBtn as="a" href="./ui">ui (dev)</DefaultBtn>
    <DefaultBtn as="a" href="./popup">Popup</DefaultBtn>
    <br />
    <DefaultBtn as="a" href="./main">Главная страница</DefaultBtn>
    <DefaultBtn as="a" href="./categories">Каталог Mercury</DefaultBtn>
    <DefaultBtn as="a" href="./category">Категория</DefaultBtn>
    <DefaultBtn as="a" href="./category-ru">Категория (РУ)</DefaultBtn>
    <DefaultBtn as="a" href="./product-1">Товар (описание)</DefaultBtn>
    <DefaultBtn as="a" href="./product-2">Товар (Характеристики)</DefaultBtn>
    <DefaultBtn as="a" href="./product-3">Товар (Оплата и доставка)</DefaultBtn>
    <DefaultBtn as="a" href="./product-4">
      Товар (Лизинг и рассрочка)
    </DefaultBtn>
    <DefaultBtn as="a" href="./product-5">Товар (Уход за обивкой)</DefaultBtn>
    <DefaultBtn as="a" href="./product-6">Товар (Документация)</DefaultBtn>
    <DefaultBtn as="a" href="./about">о нас</DefaultBtn>
    <DefaultBtn as="a" href="./leasing">Лизинг и Рассрочка</DefaultBtn>
    <DefaultBtn as="a" href="./payment">Оплата и доставка</DefaultBtn>
    <DefaultBtn as="a" href="./blog-list">Блог (Разводящая)</DefaultBtn>
    <DefaultBtn as="a" href="./blog">Блог</DefaultBtn>
    <DefaultBtn as="a" href="./cart">Корзина</DefaultBtn>
    <DefaultBtn as="a" href="./cart-empty">Корзина (Пусто)</DefaultBtn>
    <DefaultBtn as="a" href="./order">Оформление заказа</DefaultBtn>
    <DefaultBtn as="a" href="./order-formed">Заказ сформирован</DefaultBtn>
    <DefaultBtn as="a" href="./contacts">Контакты</DefaultBtn>
    <br />
    <DefaultBtn as="a" href="./pa-1">ЛК (Текущие заказы)</DefaultBtn>
    <DefaultBtn as="a" href="./pa-2">ЛК (Текущие заказы - пусто)</DefaultBtn>
    <DefaultBtn as="a" href="./pa-3">ЛК (История заказов)</DefaultBtn>
    <DefaultBtn as="a" href="./pa-4">ЛК (История заказов - пусто)</DefaultBtn>
    <DefaultBtn as="a" href="./pa-5">ЛК (Список профилей)</DefaultBtn>
    <DefaultBtn as="a" href="./pa-6">
      ЛК (Список профилей - Добавить)
    </DefaultBtn>
    <DefaultBtn as="a" href="./pa-7">
      ЛК (Список профилей - Редактировать)
    </DefaultBtn>
    <DefaultBtn as="a" href="./pa-8">ЛК (Изменить профиль)</DefaultBtn>
    <DefaultBtn as="a" href="./pa-9">ЛК (Изменить пароль)</DefaultBtn>
  </div>

  <style is:inline>
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  </style>
</Layout>
