---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import PageHead from "@components/PageHead/PageHead.astro";
import Footer from "@modules/Footer/Footer.astro";
import Header from "@modules/Header/Header.astro";
import { Sprite } from "astro-icon";
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <Header />

  <div class="container legal-page">
    <div class="legal-page__container">
      <PageHead
        title="Политика конфедициальности"
        breadcrumbs={["главная", "политика конфедициальности"]}
      />

      <div class="template body-2 legal-page__content">
        <div>
          <h5>Согласие на обработку персональных данных</h5>
          <br />
          <p>
            Я, заполняя форму на сайте novgodent.pro, даю свое согласие
            администратору сайта novgodent.pro, в соответствии с Федеральным
            законом от 27.07.2006 152-ФЗ «О персональных данных», на обработку,
            хранение и передачу третьим лицам через Интернет моих персональных
            данных.
            <br /><br />
             Я подтверждаю, что, даю такое согласие, действуя по своей воле и в
            своем интересе. Целью предоставления мною персональных данных
            является установление связи с администратором сайта novgodent.pro,
            включая направление уведомлений, запросов, касающихся использования
            сайта, оказания услуг. Настоящим, я признаю и подтверждаю, что я
            самостоятельно и полностью несу ответственность за предоставленные
            мною персональные данные, включая их полноту, достоверность,
            недвусмысленность и относимость непосредственно ко мне.
            <br /><br />
             Я подтверждаю, что ознакомлен с правами и обязанностями, в
            соответствии с Федеральным законом «О персональных данных», в т.ч.
            порядком отзыва согласия на сбор и обработку персональных данных.
          </p>
        </div>

        <div>
          <h5>Политика в отношении обработки данных</h5>
          <br />
          <p>
            Настоящим в соответствии с Федеральным законом № 152-ФЗ «О
            персональных данных» от 27.07.2006 года Вы подтверждаете свое
            согласие на обработку компанией НОВГОДЕНТ персональных данных: сбор,
            систематизацию, накопление, хранение, уточнение (обновление,
            изменение), использование, передачу исключительно в целях продажи
            стоматологического оборудования и стоматологических установок на
            Ваше имя, как это описано ниже, блокирование, обезличивание,
            уничтожение.
            <br /><br />
             Компания НОВГОДЕНТ гарантирует конфиденциальность получаемой
            информации. Обработка персональных данных осуществляется в целях
            эффективного исполнения заказов, договоров и иных обязательств,
            принятых компанией НОВГОДЕНТ в качестве обязательных к исполнению.
            Настоящее согласие распространяется на следующие Ваши персональные
            данные: фамилия, имя и отчество, адрес электронной почты, почтовый
            адрес доставки заказов, контактный телефон, платёжные реквизиты.
            <br /><br />
             Срок действия согласия является неограниченным. Вы можете в любой
            момент отозвать настоящее согласие, направив письменное уведомления
            на адрес: Ставропольский кр., Шпаковский р-н, с. Верхнерусское, ул.
            Батайская, 24г с пометкой «Отзыв согласия на обработку персональных
            данных».
            <br /><br />
             Обращаем ваше внимание, что отзыв согласия на обработку
            персональных данных влечёт за собой удаление Вашей учётной записи с
            Интернет-сайта novgodent.pro, а также уничтожение записей,
            содержащих ваши персональные данные, в системах обработки
            персональных данных компании НОВГОДЕНТ, что может сделать
            невозможным пользование интернет-сервисами компании НОВГОДЕНТ.
            <br /><br />
             Гарантирую, что представленная мной информация является полной,
            точной и достоверной, а также что при представлении информации не
            нарушаются действующее законодательство Российской Федерации,
            законные права и интересы третьих лиц. Вся представленная информация
            заполнена мною в отношении себя лично.
            <br /><br />
             Настоящее согласие действует в течение всего периода хранения
            персональных данных, если иное не предусмотрено законодательством
            Российской Федерации.
          </p>
        </div>
      </div>
    </div>
    <DefaultBtn
      as="a"
      href="#"
      className="legal-page__btn"
      viewType="icon"
      theme="stroke"
      color="secondary"
    >
      <Sprite name="download" />
    </DefaultBtn>
  </div>

  <Footer />
</Layout>
