---
import Footer from "@modules/Footer/Footer.astro";
import Header from "@modules/Header/Header.astro";
import ProductContent from "@modules/Product/ProductContent/ProductContent.astro";
import ProductHead from "@modules/Product/ProductHead/ProductHead.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="">
  <Header />

  <div class="wrapper">
    <ProductHead />

    <ProductContent activeIndex={0} />
  </div>

  <Footer />
</Layout>
