---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import InputBtn from "@components/InputBtn/InputBtn.astro";
import TextInput from "@components/TextInput/TextInput.astro";
import { Sprite } from "astro-icon";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="UI">
  <div class="container">
    <div class="box">
      <InputBtn placeholder="Электронная почта">Text</InputBtn>
    </div>
    <div class="box">
      <DefaultBtn>Text</DefaultBtn>
      <DefaultBtn>
        Text
        <Sprite name="plus" />
      </DefaultBtn>
      <DefaultBtn color="secondary">Text</DefaultBtn>
      <DefaultBtn color="secondary">
        Text
        <Sprite name="plus" />
      </DefaultBtn>

      <div class="box white">
        <DefaultBtn color="inverse">Text</DefaultBtn>
        <DefaultBtn color="inverse">
          Text
          <Sprite name="plus" />
        </DefaultBtn>

        <DefaultBtn color="secondary-inverse">Text</DefaultBtn>
        <DefaultBtn color="secondary-inverse">
          Text
          <Sprite name="plus" />
        </DefaultBtn>
      </div>
    </div>

    <div class="box">
      <DefaultBtn type="width">Text</DefaultBtn>
      <DefaultBtn type="width" color="secondary">Text</DefaultBtn>
      <DefaultBtn type="width" theme="stroke">Text</DefaultBtn>
      <DefaultBtn type="width" color="secondary" theme="stroke">
        Text
      </DefaultBtn>

      <div class="box white">
        <DefaultBtn type="width" color="inverse">Text</DefaultBtn>
        <DefaultBtn type="width" color="secondary-inverse">Text</DefaultBtn>
        <DefaultBtn type="width" theme="stroke" color="inverse">
          Text
        </DefaultBtn>
        <DefaultBtn type="width" theme="stroke" color="secondary-inverse">
          Text
        </DefaultBtn>
      </div>
    </div>

    <div class="box">
      <div class="row">
        <div class="box">
          <DefaultBtn viewType="icon">
            <Sprite name="shopping-cart" />
          </DefaultBtn>
          <DefaultBtn viewType="icon" color="secondary">
            <Sprite name="shopping-cart" />
          </DefaultBtn>
          <DefaultBtn viewType="icon" theme="stroke">
            <Sprite name="shopping-cart" />
          </DefaultBtn>
          <DefaultBtn viewType="icon" color="secondary" theme="stroke">
            <Sprite name="shopping-cart" />
          </DefaultBtn>
        </div>

        <div class="box">
          <DefaultBtn viewType="icon" size="sm">
            <Sprite name="shopping-cart" />
          </DefaultBtn>
          <DefaultBtn viewType="icon" color="secondary" size="sm">
            <Sprite name="shopping-cart" />
          </DefaultBtn>
          <DefaultBtn viewType="icon" theme="stroke" size="sm">
            <Sprite name="shopping-cart" />
          </DefaultBtn>
          <DefaultBtn
            viewType="icon"
            color="secondary"
            theme="stroke"
            size="sm"
          >
            <Sprite name="shopping-cart" />
          </DefaultBtn>
        </div>
      </div>

      <div class="box white">
        <DefaultBtn viewType="icon" color="inverse">
          <Sprite name="shopping-cart" />
        </DefaultBtn>
        <DefaultBtn viewType="icon" color="secondary-inverse">
          <Sprite name="shopping-cart" />
        </DefaultBtn>
        <DefaultBtn viewType="icon" theme="stroke" color="inverse">
          <Sprite name="shopping-cart" />
        </DefaultBtn>
        <DefaultBtn viewType="icon" theme="stroke" color="secondary-inverse">
          <Sprite name="shopping-cart" />
        </DefaultBtn>
      </div>
    </div>

    <div class="box">
      <TextInput label="Title" placeholder="" />
      <TextInput label="Title" placeholder="" value="text" />
      <TextInput
        label="Title"
        placeholder=""
        className="invalid"
        message="Error text"
      />

      <div class="box white">
        <TextInput label="Title" placeholder="" color="inverse" />
        <TextInput label="Title" placeholder="" value="text" color="inverse" />
        <TextInput
          label="Title"
          placeholder=""
          className="invalid"
          message="Error text"
          color="inverse"
        />
      </div>
    </div>

    <div class="box">
      <h1 class="title-1">Title 1 · Regular</h1>
      <h2 class="title-2">Title 2 · Regular</h2>
      <h3 class="title-3">Title 3 · Regular</h3>
      <h4 class="title-4">Title 4 · Regular</h4>
      <h5 class="title-5">Title 5 · Regular</h5>
      <h6 class="title-6 medium">Title 6 · Medium</h6>
      <h6 class="title-7 medium">Title 7 · Medium</h6>
      <h6 class="title-8 medium">Title 8 · Regular</h6>
    </div>

    <div class="box">
      <span class="heading-1">Heading 1 · Regular</span>
      <span class="heading-2 medium">Heading 2 · Medium</span>
      <span class="heading-3">Heading 3 · Regular</span>
      <span class="heading-3 medium">Heading 3 · Medium</span>
      <span class="heading-4 medium">Heading 4 · Medium</span>
      <span class="heading-5">Heading 5 · Regular</span>
      <span class="heading-5 medium">Heading 5 · Medium</span>
      <span class="heading-5 bold">Heading 5 · Bold</span>
      <span class="heading-6">Heading 6 · Regular</span>
      <span class="heading-6 medium">Heading 6 · Medium</span>
      <span class="heading-6 bold">Heading 6 · Bold</span>
      <span class="heading-7 medium">Heading 7 · Medium</span>
      <span class="heading-8 medium">Heading 8 · Medium</span>
    </div>
  </div>

  <style is:inline>
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;
      padding: 4rem 2rem;
    }

    .box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 3rem 1rem;
    }

    .box .box {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
      margin-top: 3rem;
    }

    .box.white {
      background-color: #ffffff;
    }

    .row {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;
    }
  </style>
</Layout>
