---
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
---

<section class="container about-head about-margin">
  <Breadcrumbs items={["главная", "о нас"]} />
  <div class="about-head__container">
    <div class="about-head__bg">
      <img src="./img/map-2.svg" alt="" />
    </div>
    <div class="about-head__content">
      <h1 class="medium about-head__title">
        Mercury – российский бренд, созданный в 2013 году врачом стоматологом
        для врачей и их комфортной работы.
      </h1>
      <p class="body-1 about-head__text">
        С помощью качественного, доступного и инновационного стоматологического
        оборудования, мы обеспечиваем стоматологам комфортную работу и помогаем
        продлить средний уровень жизни людей
      </p>
    </div>
  </div>
</section>
