.leasing {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  @include breakpoint($xm-bp) {
    gap: 6rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .payment__text {
      max-width: 54.7rem;
    }
  }
}

.leasing-faq {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.leasing-advant {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @include breakpoint($xs-bp) {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__title {
    text-transform: unset;
  }

  &__text {
    color: $secondary-inverse-hover$primary-hover;
    max-width: 38.8rem;
  }

  .payment-advant-item {
    width: 100%;
    height: 40.5rem;
    border: 0.1rem solid $secondary;
    background-color: transparent;

    @include breakpoint($xs-bp) {
      height: 36rem;
    }

    &__img {
      width: 12rem;
      height: 12rem;
    }
  }
}

.leasing-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13rem;
  max-width: 66.5rem;
  margin: 10rem 0rem;

  @include breakpoint($xm-bp) {
    margin: 6rem 0rem;
  }

  @include breakpoint($xs-bp) {
    gap: 6rem;
    margin: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;

    @include breakpoint($xs-bp) {
      gap: 6rem 1rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;

    &.leasing-about-item_main {
      .leasing-about-item {
        &__text {
          font-size: 2.6rem;
          line-height: 1.1em;

          @include breakpoint($xs-bp) {
            font-size: 2rem;
            line-height: 1em;
          }
        }
      }
    }

    &__icon {
      width: 7rem;
      height: 7rem;
      border: 0.1rem solid $secondary;
      border-radius: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 2.8rem;
        height: 2.8rem;
      }
    }

    &__text {
      @include breakpoint($xs-bp) {
        font-size: 1.6rem;
        line-height: 1.25em;
      }
    }
  }
}

.leasing-steps {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  height: 40rem;
  margin-bottom: calc((var(--items-count, 4) - 1) * 3rem) !important;

  @include breakpoint($xs-bp) {
    height: 32rem;
  }

  &-item {
    flex: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 3rem;
    background-color: $secondary;
    color: $primary;
    position: absolute;
    z-index: 1;
    top: 0;
    --progress: 0;

    @include breakpoint($xs-bp) {
      padding: 3rem 2rem;
      border-radius: 2rem;
    }

    &:not(:last-child) {
      opacity: 0.15;
      color: transparent;
    }

    &:nth-last-child(1) {
      top: 9rem;
    }
    &:nth-last-child(2) {
      top: 6rem;
    }
    &:nth-last-child(3) {
      top: 3rem;
    }

    // &:not(:first-child) {
    //   margin-top: -37rem;

    //   @include breakpoint($xs-bp) {
    //     margin-top: -34rem;
    //   }
    // }

    // &:last-child {
    //   opacity: 1;
    //   color: $primary;
    // }

    &__num {
      opacity: 0.5;

      @include breakpoint($xs-bp) {
        font-size: 2rem;
        line-height: 1em;
      }
    }

    &__text {
      max-width: 71.5rem;

      @include breakpoint($xs-bp) {
        font-size: 2rem;
        line-height: 1em;
      }
    }
  }
}

.leasing-banner {
  padding: 3rem;
  border-radius: 3rem;
  background-color: $primary;
  color: $primary-inverse;
  display: flex;
  align-items: stretch;

  @include breakpoint($xs-bp) {
    border-radius: 2rem;
  }

  &__container {
    height: auto;
    max-width: 63rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint($xm-bp) {
      max-width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 8rem;

    img {
      object-fit: contain;
      object-position: left center;
      height: 100%;
      width: 100%;
    }
  }

  &__btn {
    margin-top: 3rem;
  }
}
