---
import CategoryCard from "@components/CategoryCard/CategoryCard.astro";
---

<section class="categories-list">
  <div class="container categories-list__container">
    <h3 class="title-8 categories-list__title">категории оборудования</h3>

    <div class="categories-list__cards">
      <CategoryCard
        data-fade-anim
        title="имплантология"
        text="20 видов стульев"
        img="./img/products/prod-7.png"
      />
      <CategoryCard
        data-fade-anim
        title="Стоматологические стулья"
        text="20 видов стульев"
        img="./img/products/prod-1.png"
      />
      <CategoryCard
        data-fade-anim
        title="Стоматологические установки"
        text="20 видов стульев"
        img="./img/products/prod-3.png"
      />
      <CategoryCard
        data-fade-anim
        title="Стоматологические наконечники"
        text="20 видов стульев"
        img="./img/products/prod-4.png"
      />
      <CategoryCard
        data-fade-anim
        title="цифровое оборудование"
        text="20 видов стульев"
        img="./img/products/prod-5.png"
      />
      <CategoryCard
        data-fade-anim
        title="микроскопы"
        text="20 видов стульев"
        img="./img/products/prod-6.png"
      />
    </div>
  </div>
</section>
