---
import { Sprite } from "astro-icon";

interface Props extends astroHTML.JSX.InputHTMLAttributes {
  className?: string;
}

const { className, ...rest } = Astro.props;
---

<label class:list={["checkbox", className]}>
  <input type="checkbox" class="checkbox__input" {...rest} />
  <span class="checkbox__icon">
    <Sprite name="check" />
  </span>
  <slot />
</label>
