.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  user-select: none;
  cursor: pointer;

  &.invalid {
    .checkbox {
      &__icon {
      }
    }
  }

  &__input {
    &:checked + .checkbox__icon {
      color: $primary;
      background-color: $primary-inverse;
    }
  }

  &__icon {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid $primary-inverse;
    border-radius: 0.6rem;
    transition: 0.3s;
    color: transparent;

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  a {
    color: $secondary-inverse-hover;
    text-decoration: underline;
    transition: 0.3s;
    @include hover {
      color: $secondary;
    }
  }
}
