.related-prod {
  margin-bottom: 15rem;

  @include breakpoint($xm-bp) {
    margin-bottom: 10rem;
  }

  &__title {
    padding-bottom: 1.9rem;
    border-bottom: 0.1rem solid $secondary;

    @include breakpoint($xm-bp) {
      font-size: 1.8rem;
      line-height: 1.1em;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint($xm-bp) {
      gap: 4rem;
    }
  }

  .blog-list-item {
    flex-direction: column;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    &__img {
      width: 100%;
      height: 36rem;

      @include breakpoint($xm-bp) {
        height: 25.6rem;
      }
    }

    &__content {
      gap: 1.2rem;
    }
  }
}
