---
import ProductCard from "@components/ProductCard/ProductCard.astro";
---

<section class="related-prod">
  <div class="container related-prod__container">
    <h3 class="title-6 related-prod__title">Похожие установки</h3>
    <div class="category__list">
      <ProductCard
        title="Стоматологическая установка mercury"
        price="385 000"
        img="./img/products/prod-8.png"
      />
      <ProductCard
        title="Стоматологическая установка mercury"
        price="385 000"
        img="./img/products/prod-9.png"
      />
    </div>
  </div>
</section>
