---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";

interface Props {
  activeIndex: number;
}

const { activeIndex } = Astro.props;

const links: string[] = [
  "Описание",
  "Характеристики",
  "Оплата и доставка",
  "Лизинг и рассрочка",
  "Уход за обивкой",
  "Документация",
];
---

<section class="container section-margin product-content">
  <div class="product-content-nav" data-dropdown data-close>
    <DefaultBtn className="product-content-nav__btn" viewType="width" data-btn>
      {links[activeIndex]}
      <Sprite name="chevron-down" />
    </DefaultBtn>
    <div class="product-content-nav__list">
      {
        links.map((link, i) => (
          <a
            href="#"
            class:list={[
              "body-2 medium primary-hover product-content-nav__link",
              { active: i === activeIndex },
            ]}
          >
            {link}
          </a>
        ))
      }
    </div>
  </div>
  <div class="product-content__container">
    <slot />
  </div>
</section>
