---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class:list={["template", className]}>
  <div class="container template__container">
    <slot />
  </div>
</section>
