.template {
  b,
  strong {
    font-weight: 600;
  }

  i {
    font-style: italic;
  }

  ul {
    list-style-type: disc;
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;

    li {
      &::marker {
        // color: $Primary-Base;
      }
      // padding-left: 2em;
      // position: relative;

      // &::before {
      //   content: "";
      //   width: 1rem;
      //   border-bottom: 0.1rem solid $Base-Black;
      //   position: absolute;
      //   top: 1rem;
      //   left: 0.6rem;
      // }
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style-type: decimal;
    list-style-position: inside;
  }

  img {
    display: block;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    border-radius: 4rem;
    object-fit: contain;
    object-position: center;
  }

  a {
    text-decoration: underline;
    transition: 0.3s;
    @include hover {
    }
  }
}
