---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";
---

<div class="product-desc">
  <article class="template heading-3 product-desc__text">
    Уникальный и современный дизайн установки позволяет подобрать идеальное
    положение спинки и подголовника для каждого пациента, а мягкое кресло и
    подлокотники с элементами из фиброкожи максимально увеличивают комфорт
  </article>

  <div class="product-desc__cards">
    <div class="product-desc__card product-desc__card_min">
      <div class="product-desc__card-img">
        <img src="./img/product/1.jpg" alt="" />
      </div>
      <span class="body-3 product-desc__card-text">
        Два удобных стула для стоматологов с эргономичным сиденьем и спинкой
      </span>
    </div>
    <div class="product-desc__card product-desc__card_min">
      <div class="product-desc__card-img">
        <img src="./img/product/2.jpg" alt="" />
      </div>
      <span class="body-3 product-desc__card-text">
        Сенсорная панель на модуле врача и модуле ассистента, диодная подсветка
      </span>
    </div>
  </div>

  <div class="product-desc__card">
    <div class="swiper product-desc__card-swiper" data-swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide product-desc__card-img">
          <img src="./img/product/3.jpg" alt="" />
        </div>
        <div class="swiper-slide product-desc__card-img">
          <img src="./img/product/3.jpg" alt="" />
        </div>
        <div class="swiper-slide product-desc__card-img">
          <img src="./img/product/3.jpg" alt="" />
        </div>
        <div class="swiper-slide product-desc__card-img">
          <img src="./img/product/3.jpg" alt="" />
        </div>
        <div class="swiper-slide product-desc__card-img">
          <img src="./img/product/3.jpg" alt="" />
        </div>
      </div>
      <DefaultBtn type="button" viewType="icon" color="secondary" data-prev>
        <Sprite name="chevron-left" />
      </DefaultBtn>
      <DefaultBtn type="button" viewType="icon" color="secondary" data-next>
        <Sprite name="chevron-right" />
      </DefaultBtn>
    </div>
    <span class="body-3 product-desc__card-text">
      Два удобных стула для стоматологов с эргономичным сиденьем и спинкой
    </span>
  </div>

  <div class="product-desc__cards">
    <div class="product-desc__card product-desc__card_min">
      <div class="product-desc__card-img">
        <img src="./img/product/1.jpg" alt="" />
      </div>
      <span class="body-3 product-desc__card-text">
        Два удобных стула для стоматологов с эргономичным сиденьем и спинкой
      </span>
    </div>
    <div class="product-desc__card product-desc__card_min">
      <div class="product-desc__card-img">
        <img src="./img/product/2.jpg" alt="" />
      </div>
      <span class="body-3 product-desc__card-text">
        Сенсорная панель на модуле врача и модуле ассистента, диодная подсветка
      </span>
    </div>
    <div class="product-desc__card product-desc__card_min">
      <div class="product-desc__card-img">
        <img src="./img/product/1.jpg" alt="" />
      </div>
      <span class="body-3 product-desc__card-text">
        Два удобных стула для стоматологов с эргономичным сиденьем и спинкой
      </span>
    </div>
    <div class="product-desc__card product-desc__card_min">
      <div class="product-desc__card-img">
        <img src="./img/product/2.jpg" alt="" />
      </div>
      <span class="body-3 product-desc__card-text">
        Сенсорная панель на модуле врача и модуле ассистента, диодная подсветка
      </span>
    </div>
  </div>

  <div class="product-desc__card">
    <div class="product-desc__card-img">
      <img src="./img/product/3.jpg" alt="" />
    </div>
    <span class="body-3 product-desc__card-text">
      Два удобных стула для стоматологов с эргономичным сиденьем и спинкой
    </span>
  </div>

  <div class="product-desc__card">
    <div class="product-desc__card-img">
      <img src="./img/product/3.jpg" alt="" />
    </div>
    <span class="body-3 product-desc__card-text">
      Два удобных стула для стоматологов с эргономичным сиденьем и спинкой
    </span>
  </div>
</div>
