.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  &__link {
    color: $secondary-inverse-active;

    &:not(:first-child) {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &::before {
        content: "-";
      }
    }

    &:last-child {
      color: $secondary-hover;
    }

    &:is(a) {
      transition: 0.3s;
      @include hover {
        color: $secondary-inverse-hover;
      }
    }
  }
}
