.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  @include breakpoint($xs-bp) {
    width: 100%;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
    overflow: auto;
  }

  &__link {
    color: $secondary-inverse-active;

    @include breakpoint($xs-bp) {
      white-space: nowrap;
    }

    &:not(:first-child) {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &::before {
        content: "-";
      }
    }

    &:last-child {
      color: $secondary-hover;
    }

    &:is(a) {
      transition: 0.3s;
      @include hover {
        color: $secondary-inverse-hover;
      }
    }
  }
}
