---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<div class="breadcrumbs">
  {
    items.map((el, i) => {
      if (i === items.length - 1) {
        return <span class="body-4 breadcrumbs__link">{el}</span>;
      } else {
        return (
          <a href="#" class="body-4 breadcrumbs__link">
            {el}
          </a>
        );
      }
    })
  }
</div>
