---
import DefaultBtn from "@components/DefaultBtn/DefaultBtn.astro";
import InputBtn from "@components/InputBtn/InputBtn.astro";
import { Sprite } from "astro-icon";
---

<footer class="footer">
  <div class="container footer__wrapper">
    <div class="footer__head">
      <a href="#" class="footer__logo">
        <img src="./img/logo.svg" alt="" />
      </a>

      <DefaultBtn
        type="button"
        className="footer__btn"
        viewType="icon"
        color="secondary"
        data-scroll-up
      >
        <Sprite name="chevron-up" />
      </DefaultBtn>
    </div>

    <div class="footer__container">
      <div class="footer-nav">
        <div class="footer-nav__list">
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Стоматологические установки</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Наконечники</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Стерилизация</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Оптика для стоматологии</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Российское производство</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Российское производство</a
          >
        </div>
        <div class="footer-nav__list">
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >О компании</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Блог компании</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link">Новости</a>
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Лизинг и рассрочка</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link"
            >Доставка и оплата</a
          >
          <a href="#" class="body-2 primary-hover footer-nav__link">Контакты</a>
        </div>
      </div>
      <div class="footer-contacts">
        <div class="footer-contacts-item">
          <span class="body-4 footer-contacts-item__title">Телефон:</span>
          <a href="#" class="heading-6 medium footer-contacts-item__text"
            >8 (800) 2345-888</a
          >
        </div>
        <div class="footer-contacts-item">
          <span class="body-4 footer-contacts-item__title">Телефон:</span>
          <a href="#" class="heading-6 medium footer-contacts-item__text"
            >8 (800) 2345-888</a
          >
        </div>
        <div class="footer-contacts-item">
          <span class="body-4 footer-contacts-item__title"
            >Электронная почта:</span
          >
          <a href="#" class="heading-6 medium footer-contacts-item__text"
            >shop@novgodent.ru</a
          >
        </div>
        <div class="footer-contacts-item">
          <span class="body-4 footer-contacts-item__title">Адрес</span>
          <span class="heading-6 medium footer-contacts-item__text">
            Ставропольский край, с. Верхнерусское, ул. Батайская, д. 24г.
          </span>
        </div>
      </div>
    </div>

    <form action="#" class="footer-form">
      <h6 class="heading-5 medium footer-form__title">
        Подпишитесь на рассылку <br />
         и получите скидку 5%
      </h6>

      <InputBtn className="footer-form__input" placeholder="Электронная почта">
        Отправить
      </InputBtn>
    </form>

    <div class="footer-legal">
      <span class="body-2 footer-legal__text"
        >2024 Mercury. Все права защищены</span
      >
      <div class="footer-legal__inner">
        <span class="body-2 footer-legal__text">Договор офферты</span>
        <a href="#" class="body-2 footer-legal__text"
          >Политика конфедициальности</a
        >
      </div>
      <a href="#" class="body-2 footer-legal__text primary"
        >Сайт разработали в NDA</a
      >
    </div>
  </div>
</footer>
