html {
  --text-01: #ffffff;
  --text-02: #999999;
  --text-03: #4d4d4d;
  --strokes-primary: #101010;
  --strokes-secondary: #161616;

  --error: #fd6060;

  --primary: #ffffff;
  --primary-hover: #e6e6e6;
  --primary-active: #cccccc;

  --primary-inverse: #000000;
  --primary-inverse-hover: #1a1a1a;
  --primary-inverse-active: #333333;

  --secondary: #333333;
  --secondary-hover: #4d4d4d;
  --secondary-active: #666666;

  --secondary-inverse: #cccccc;
  --secondary-inverse-hover: #b3b3b3;
  --secondary-inverse-active: #999999;

  --white-04: rgba(255, 255, 255, 0.04);
  --white-08: rgba(255, 255, 255, 0.08);
  --black-04: rgba(0, 0, 0, 0.04);
  --black-08: rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Formular", sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  color: $text-01;
  background-color: $strokes-primary;
}

svg {
  fill: transparent;
}

a,
button,
input,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  outline: none;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper {
  margin: 5rem 0rem 10rem;

  @include breakpoint($xm-bp) {
    margin: 3rem 0rem 0rem;
  }

  @include breakpoint($xs-bp) {
    margin: 1.5rem 0rem 0rem;
  }
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 0rem 5rem;
  margin: 0 auto;

  @include breakpoint($xm-bp) {
    padding: 0rem 3rem;
  }

  @include breakpoint($xs-bp) {
    padding: 0rem 1.5rem;
  }
}

[data-fade-anim] {
  opacity: 0;
  transform: translateY(100%);
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.primary {
  color: $primary;
}

.primary-hover {
  transition: 0.3s;

  @include hover {
    color: $secondary-inverse-active;
  }

  &:active {
    color: $secondary-inverse-hover;
  }
}

.shadow-m {
  box-shadow: 0 0.4rem 3rem rgba(105, 105, 105, 0.3);
}

.grad-bg {
  background: linear-gradient(0deg, #dcd1c0, #dcd1c0, #ffffff);
}

.grad-2 {
  background: linear-gradient(45deg, #e7e7f2, #fcfaf8, #e4d2c5);
}

.section-margin {
  margin-bottom: 20rem;

  @include breakpoint($xm-bp) {
    margin-bottom: 10rem;
  }

  @include breakpoint($xs-bp) {
    margin-bottom: 5rem;
  }
}

.gradient-text {
  background: linear-gradient(135deg, #e7e7f2, #fcfaf8, #e4d2c5);
  color: transparent;
  background-clip: text;
}

.page-title {
  text-transform: uppercase;

  @include breakpoint($xm-bp) {
    font-size: 4rem;
    line-height: 1em;
  }

  @include breakpoint($xs-bp) {
    font-size: 3rem;
    line-height: 1.1em;
  }
}
