html {
  --text-01: #ffffff;
  --text-02: #999999;
  --text-03: #4d4d4d;
  --strokes-primary: #101010;
  --strokes-secondary: #161616;

  --error: #fd6060;

  --primary: #ffffff;
  --primary-hover: #e6e6e6;
  --primary-active: #cccccc;

  --primary-inverse: #000000;
  --primary-inverse-hover: #1a1a1a;
  --primary-inverse-active: #333333;

  --secondary: #333333;
  --secondary-hover: #4d4d4d;
  --secondary-active: #666666;

  --secondary-inverse: #cccccc;
  --secondary-inverse-hover: #b3b3b3;
  --secondary-inverse-active: #999999;

  --white-04: rgba(255, 255, 255, 0.04);
  --white-08: rgba(255, 255, 255, 0.08);
  --black-04: rgba(0, 0, 0, 0.04);
  --black-08: rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Formular", sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  color: $text-01;
  background-color: $strokes-primary;
}

a,
button,
input,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  outline: none;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding: 0rem 5rem;
  margin: 0 auto;

  @include breakpoint($xm-bp) {
    padding: 0rem 3rem;
  }

  @include breakpoint($xs-bp) {
    padding: 0rem 1.5rem;
  }
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6,
.title-7,
.title-8 {
  text-transform: uppercase;
}

h1,
.title-1 {
  font-size: 7rem;
  line-height: 1em;
}

h2,
.title-2 {
  font-size: 5.5rem;
  line-height: 1em;
}

h3,
.title-3 {
  font-size: 5rem;
  line-height: 1em;
}

h4,
.title-4 {
  font-size: 4rem;
  line-height: 1em;
}

h5,
.title-5 {
  font-size: 3rem;
  line-height: 1.1em;
}

h6,
.title-6 {
  font-size: 2.5rem;
  line-height: 1.1em;
}

.title-7 {
  font-size: 2rem;
  line-height: 1.1em;
}

.title-8 {
  font-size: 1.8rem;
  line-height: 1.1em;
}

.heading-1 {
  font-size: 4rem;
  line-height: 1.1em;
}

.heading-2 {
  font-size: 3.4rem;
  line-height: 1.1em;
}

.heading-3 {
  font-size: 3rem;
  line-height: 1.1em;
}

.heading-4 {
  font-size: 2.8rem;
  line-height: 1.1em;
}

.heading-5 {
  font-size: 2.4rem;
  line-height: 1.1em;
}

.heading-6 {
  font-size: 2rem;
  line-height: 1em;
}

.heading-7 {
  font-size: 1.6rem;
  line-height: 1em;
}

.heading-8 {
  font-size: 1.4rem;
  line-height: 1em;
}

.body-1 {
  font-size: 2rem;
  line-height: 1.2em;
}

.body-2 {
  font-size: 1.8rem;
  line-height: 1.2em;
}

.body-3 {
  font-size: 1.6rem;
  line-height: 1.25em;
}

.body-4 {
  font-size: 1.4rem;
  line-height: 1.25em;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.primary {
  color: $primary;
}

.primary-hover {
  transition: 0.3s;

  @include hover {
    color: $secondary-inverse-active;
  }

  &:active {
    color: $secondary-inverse-hover;
  }
}

.shadow-m {
  box-shadow: 0 0.4rem 3rem rgba(105, 105, 105, 0.3);
}

.grad-bg {
  background: linear-gradient(0deg, #dcd1c0, #dcd1c0, #ffffff);
}
