---
import { Sprite } from "astro-icon";
---

<section class="container about-margin about-contacts">
  <div class="about-contacts__container">
    <div class="about-contacts__inner">
      <div class="about-contacts__img">
        <img src="./img/about-contacts.jpg" alt="" />
      </div>
      <h5 class="heading-5 medium about-contacts__title">
        Оборудование Mercury регулярно представлен на крупных стоматологических
        выставках и в выставочном зале Novgodent, всегда можете приехать и
        оценить его качество и функционал лично.
      </h5>
    </div>
    <div class="about-contacts__list">
      <div class="about-contacts-item">
        <span class="about-contacts-item__icon">
          <Sprite name="map-pin" />
        </span>
        <span class="body-1 about-contacts-item__text">
          Ставропольский край, с. Верхнерусское, ул. Батайская, д. 24г.
        </span>
      </div>
      <div class="about-contacts-item">
        <span class="about-contacts-item__icon">
          <Sprite name="phone" />
        </span>
        <span class="body-1 about-contacts-item__text"> 8 (800) 2345-888</span>
      </div>
    </div>
  </div>
</section>
